{% extends '_base.jinja2' %}
{% block body %}

<form class="card mb-3" method="post" action="/classify">
    <div class="card-body">
        <h5 class="card-title">Query changesets</h5>

        <div class="mb-3">
            <label class="form-label">
                <span class="required" title="This field is required">Time range (UTC):</span>
            </label>
            <div class="row">
                <div class="col">
                    <input type="datetime-local" name="from_" class="form-control"
                        min="{{ datetime_isoformat(time_range[0]) }}" max="{{ datetime_isoformat(time_range[1]) }}"
                        value="{{ datetime_isoformat(time_range[1] - timedelta(days=1)) }}" required>
                </div>
                <div class="col-auto">
                    →
                </div>
                <div class="col">
                    <input type="datetime-local" name="to" class="form-control"
                        min="{{ datetime_isoformat(time_range[0]) }}" max="{{ datetime_isoformat(time_range[1]) }}"
                        value="{{ datetime_isoformat(time_range[1]) }}" required>
                </div>
            </div>
        </div>

        <div class="mb-1">
            <label class="form-label">
                Changeset tags (optional):
                <sup>
                    <abbr
                        title="Use KEY=VALUE for exact matches, and use KEY=* or KEY, for wildcard matches. Matching is case sensitive.">
                        (?)
                    </abbr>
                </sup>
            </label>
            <input class="form-control tagify" name="tags">
        </div>

    </div>
    <div class="card-footer text-end">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<div class="row">
    {% for task in tasks %}
    <div class="col-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5>
                    {% if task.finished %}✅{% endif %}
                    <a href="/revert/{{ task.id }}">{{ task.id }}</a>
                </h5>

                <div class="progress">
                    <div class="progress-bar" style="width:{{ (task.progress * 100) | int }}%">
                        {{ (task.progress * 100) | int }}%
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if not tasks %}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">No tasks</h5>
                <p class="card-text">There are no active reverts.</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
